<div class="language-switcher">
  {% for lang in site.languages %}
    {% unless lang == site.active_lang %}
      <a href="{{ page.url | replace: '/' | prepend: '/' | prepend: lang | replace: '//', '/' }}">
        <img src="/assets/img/flags/{{ lang }}.png" alt="{{ lang }} flag" width="24" height="16">
      </a>
    {% endunless %}
  {% endfor %}
</div>
